// colors
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #aaaaaa;
$color-opague-black-2: rgba(0, 0, 0, 0.2);
$color-opague-white-75: rgba(255, 255, 255, 0.5);

// linear gradients
$lg-opague-black-2: linear-gradient($color-opague-black-2, $color-opague-black-2);

// media-queries
$break-landscape: '(orientation:landscape)';
$break-min-tablet-portrait: '(min-width:600px) and (orientation:portrait)';
$break-min-tablet-landscape: '(min-width:850px) and (orientation:landscape)';
$break-min-desktop: '(min-width:1025px)';
