.root {
    height: 100vh;
    background: #{$lg-opague-black-2}, url("http://source.unsplash.com/collection/4643953/756x1344") no-repeat center center fixed;
    background-size: cover;
    @media #{$break-landscape} {
        background-image: #{$lg-opague-black-2}, url("http://source.unsplash.com/collection/4643953/1344x756");
    }
    @media #{$break-min-tablet-portrait} {
        background-image: #{$lg-opague-black-2}, url("http://source.unsplash.com/collection/4643953/907x1612");
    }
    @media #{$break-min-tablet-landscape} {
        background-image: #{$lg-opague-black-2}, url("http://source.unsplash.com/collection/4643953/1612x907");
    }
    @media #{$break-min-desktop} {
        background-image: #{$lg-opague-black-2}, url("http://source.unsplash.com/collection/4643953/1920x1080");
    }
}