.root {
    position: relative;
    height: 100vh;
    @include unsplash-background("756", "1344");
    background-size: cover;
    @media #{$break-landscape} {
        @include unsplash-background("1344", "756");
    }
    @media #{$break-min-tablet-portrait} {
        @include unsplash-background("907", "1612");
    }
    @media #{$break-min-tablet-landscape} {
        @include unsplash-background("1612", "907");
    }
    @media #{$break-min-desktop} {
        @include unsplash-background("1920", "1080");
    }
}