.Weeks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: $color-white; 
    &__week-number {
        font-size: 15em;
        text-shadow: $color-grey -5px 0px 2px;
    }
}